# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data
data/

# Trained models
models/

# Kaggle submissions
submissions/

# Environment variables
.env

# VS Code
.vscode/